.user-profile {
  position: fixed;
  max-width: 60%;
  background-color: #2c1131;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 1rem;
  align-items: center;
}

.user-avatar {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  border: solid 0.5rem #f04e99;
}

.username {
  margin-bottom: 5rem;
}

.user-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  border: 1px solid white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.user-activities {
  max-width: 40%;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.activities-banner {
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #2c1131;
}

.matches-banner {
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #2c1131;
  width: 100%;
}

.activity {
  position: sticky;
  border: 1rem solid white;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.775);
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
